#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: #1B1B1B !important ; /* dark grayish black */
  color: #f5f5f5 !important; /* off-white for better contrast */
  margin: 0;
}

.custom-navbar {
  background-color: #262626 !important; /* or your preferred hex code */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff !important;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: #cccccc !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

h1 {
  font-weight: 600 !important;
  font-size: 3.2em !important;
  line-height: 1.1;
}

.welcome-heading {
  font-weight: 600; /* semibold */
  font-size: 4em !important;
  text-align: left;
}

.placeholder {
  margin-right: 30px; /* adjust as needed */
  margin-bottom: 100px;
}

.white-text {
  color: #ffffff;
}

.gradient-text {
  background: linear-gradient(90deg, #8FD4CB, #9EFF6E); /* teal-blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

p {
  text-align: left;
  font-size: 1.2em
}